@model List<SummaryPostViewModel>
@{
    ViewData["Title"] = "Approved Posts";
}

@if (Model.Count == 0)
{
    <h4>Go Create something amazing.</h4>
}
else
{
    <h4>All posts published  by me</h4>
}
<br />
<vc:summary-posts posts="@Model" edit-action="Detailed" ></vc:summary-posts>