@model List<SummaryPostViewModel>
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
}
<h3>Welcome @User.FindFirst(ClaimTypes.GivenName)?.Value!</h3>

<vc:summary-posts posts="@Model" edit-action="Detailed"></vc:summary-posts>